.flex.justify-center.postsFormUser.hidden
  .rounded-lg.shadow-lg.bg-white
    .flex.justify-center
      .mb-3(class='xl:w-96')
        label.form-label.inline-block.mb-2.text-gray-700(for='formFile')
          | Photo
        input#formFile.form-control.block.w-full.px-3.text-base.font-normal.text-gray-700.bg-white.bg-clip-padding.border.border-solid.border-gray-300.rounded.transition.ease-in-out.m-0(class='py-1.5 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none xl:w-96' type='file')
    .p-6
      .flex.justify-center
        .mb-3(class='xl:w-96')
          label.form-label.inline-block.mb-2.text-gray-700(for='exampleFormControlInput1') Title
          input#title.form-control.block.w-full.px-3.text-base.font-normal.text-gray-700.bg-white.bg-clip-padding.border.border-solid.border-gray-300.rounded.transition.ease-in-out.m-0(type='text' class='py-1.5 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' placeholder='Example label')
      .flex.justify-center
        .mb-3(class='xl:w-96')
          label.form-label.inline-block.mb-2.text-gray-700(for='exampleFormControlInput1') Sub description
          input#subdesc.form-control.block.w-full.px-3.text-base.font-normal.text-gray-700.bg-white.bg-clip-padding.border.border-solid.border-gray-300.rounded.transition.ease-in-out.m-0(type='text' class='py-1.5 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' placeholder='Example label')
      .flex.justify-center
        .mb-3(class='xl:w-96')
          .flex.justify-center
            .mb-3(class='xl:w-96')
              label.form-label.inline-block.mb-2.text-gray-700(for='exampleFormControlTextarea1') Description
              textarea#description.form-control.block.w-full.px-3.text-base.font-normal.text-gray-700.bg-white.bg-clip-padding.border.border-solid.border-gray-300.rounded.transition.ease-in-out.m-0(class='py-1.5 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' rows='3' placeholder='Your message')
      button.form--posts.inline-block.px-6.bg-blue-600.text-white.font-medium.text-xs.leading-tight.uppercase.rounded.shadow-md.transition.duration-150.ease-in-out(type='button' class='py-2.5 hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg form--posts')
        | Post
