
extends base

block content
.flex.items-center.justify-center.p-12
  .mx-auto.w-full(class='max-w-[550px]')
    form(action='https://formbold.com/s/FORM_ID' method='POST')
      span.flex.items-center.justify-center.p-12.font-bold
        | Customer information
      .mb-5
        label.mb-3.block.text-base.font-medium(for='name' class='text-[#07074D]')
          | Companyname
        input#name.w-full.rounded-md.border.bg-white.py-3.px-6.text-base.font-medium.outline-none(type='text' name='name' placeholder='Full Name' class='border-[#e0e0e0] text-[#6B7280] focus:border-[#6A64F1] focus:shadow-md')
      .mb-5
        label.mb-3.block.text-base.font-medium(for='email' class='text-[#07074D]')
          | Contactname
        input#email.w-full.rounded-md.border.bg-white.py-3.px-6.text-base.font-medium.outline-none(type='email' name='email' placeholder='example@domain.com' class='border-[#e0e0e0] text-[#6B7280] focus:border-[#6A64F1] focus:shadow-md')
      .mb-5
        label.mb-3.block.text-base.font-medium(for='subject' class='text-[#07074D]')
          | Contacttitle
        input#subject.w-full.rounded-md.border.bg-white.py-3.px-6.text-base.font-medium.outline-none(type='text' name='subject' placeholder='Enter your subject' class='border-[#e0e0e0] text-[#6B7280] focus:border-[#6A64F1] focus:shadow-md')
      .mb-5
        label.mb-3.block.text-base.font-medium(for='message' class='text-[#07074D]')
          | Address
        textarea#message.w-full.resize-none.rounded-md.border.bg-white.py-3.px-6.text-base.font-medium.outline-none(rows='4' name='message' placeholder='Type your message' class='border-[#e0e0e0] text-[#6B7280] focus:border-[#6A64F1] focus:shadow-md')
      .mb-5
        label.mb-3.block.text-base.font-medium(for='subject' class='text-[#07074D]')
          | City
        input#subject.w-full.rounded-md.border.bg-white.py-3.px-6.text-base.font-medium.outline-none(type='text' name='subject' placeholder='Enter your subject' class='border-[#e0e0e0] text-[#6B7280] focus:border-[#6A64F1] focus:shadow-md')
      .mb-5
        label.mb-3.block.text-base.font-medium(for='subject' class='text-[#07074D]')
          | Region
        input#subject.w-full.rounded-md.border.bg-white.py-3.px-6.text-base.font-medium.outline-none(type='text' name='subject' placeholder='Enter your subject' class='border-[#e0e0e0] text-[#6B7280] focus:border-[#6A64F1] focus:shadow-md')
      .mb-5
        label.mb-3.block.text-base.font-medium(for='subject' class='text-[#07074D]')
          | PostalCode
        input#subject.w-full.rounded-md.border.bg-white.py-3.px-6.text-base.font-medium.outline-none(type='text' name='subject' placeholder='Enter your subject' class='border-[#e0e0e0] text-[#6B7280] focus:border-[#6A64F1] focus:shadow-md')
      .mb-5
        label.mb-3.block.text-base.font-medium(for='subject' class='text-[#07074D]')
          | Country
        input#subject.w-full.rounded-md.border.bg-white.py-3.px-6.text-base.font-medium.outline-none(type='text' name='subject' placeholder='Enter your subject' class='border-[#e0e0e0] text-[#6B7280] focus:border-[#6A64F1] focus:shadow-md')
      .mb-5
        label.mb-3.block.text-base.font-medium(for='subject' class='text-[#07074D]')
          | Phone
        input#subject.w-full.rounded-md.border.bg-white.py-3.px-6.text-base.font-medium.outline-none(type='text' name='subject' placeholder='Enter your subject' class='border-[#e0e0e0] text-[#6B7280] focus:border-[#6A64F1] focus:shadow-md')
      .mb-5
        label.mb-3.block.text-base.font-medium(for='subject' class='text-[#07074D]')
          | Fax
        input#subject.w-full.rounded-md.border.bg-white.py-3.px-6.text-base.font-medium.outline-none(type='text' name='subject' placeholder='Enter your subject' class='border-[#e0e0e0] text-[#6B7280] focus:border-[#6A64F1] focus:shadow-md')
      div
        button.rounded-md.py-3.px-8.text-base.font-semibold.text-white.outline-none(class='hover:shadow-form bg-[#6A64F1] form--customer')
          | Submit
script(src='/JS/axios.js')           
script(src='/JS/coustomer.js')           
